.content{
    grid-area: c;
    background-color: brown;
  }

  .item{
    color: greenyellow;
  }
  .item img{
    width: auto;
    border-radius: 50%;
    height: 50px;
    padding: 10px;
  }
.span span{
  padding: 0 10px;
}