.App {
  /* text-align: center; */
  display: grid;
  width: 900px;
  margin: 0 auto;
  grid-template-rows: 80px 1fr ;
  grid-template-columns: 4fr 10fr;
  grid-template-areas: "a a"
  "b c";
}


.app-content{
    grid-area: c;
    background-color: brown;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
